.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  background-color: #2a313aa9;
}
