---

---
<section id="blogs" class="mt-16">
    <h1 class="text-4xl font-semibold mb-8">Blogs</h1>
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-2 gap-4">
            <div class="rounded-2xl h-max p-4 flex-col bg-secondary gap-4">
                <div class="w-full h-48">
                    <img class="h-full object-cover w-full" src="https://miro.medium.com/v2/resize:fit:828/0*9ddVTA2pcJK_o9Z4" alt="" srcset="">
                </div>
                <h3 class="font-bold text-lg mt-4">How to Implement Resumable File Uploads toAzure Blob Storage in Flutter</h3>
                <p class="line-clamp-3 text-ellipsis mt-4">In today’s digital era, file uploads are a crucial part of many mobile applications. However, handling large file uploads can be challenging due to network instability and limited bandwidth. To address this issue, developers can implement resumable file uploads, which allow the upload process to resume from the point of failure, ensuring a smoother user experience. In this blog, we will explore how to achieve resumable file uploads to Azure Blob Storage in Flutter, utilizing an example Flutter package to simplify the implementation.</p>
                <div class="flex items-center justify-end mt-4">
                    <a href="https://jenishms.medium.com/how-to-implement-resumable-file-uploads-toazure-blob-storage-in-flutter-fd9aa9dc9732" class="bg-transparent hover:bg-gray-200 text-gray-200 font-semibold hover:text-primary py-1 px-4 rounded-full border border-primary hover:border-transparent " target="_blank">Read</a>
                </div>
            </div>
            <div class="rounded-2xl h-max p-4 flex-col bg-secondary gap-4">
                <div class="w-full h-48">
                    <img class="h-full object-cover w-full" src="https://miro.medium.com/v2/resize:fit:828/0*qjBo4IRofMxhupv4" alt="" srcset="">
                </div>
                <h3 class="font-bold text-lg mt-4">How to Implement Resumable File Uploads toAzure Blob Storage in Flutter</h3>
                <p class="line-clamp-3 text-ellipsis mt-4">In Flutter app development, incorporating videos into your application is a common requirement. To enhance the user experience and maintain visual consistency, it is essential to customize the appearance of video players. In this article, we will explore how to create a custom theme for the Better Player package in Flutter, enabling you to integrate and personalize video playback within your app seamlessly.</p>
                <div class="flex items-center justify-end mt-4">
                    <a href="https://jenishms.medium.com/customizing-the-look-and-feel-of-flutter-videos-with-a-better-player-package-5416aa8b04ad"  class="bg-transparent hover:bg-gray-200 text-gray-200 font-semibold hover:text-primary py-1 px-4 rounded-full border border-primary hover:border-transparent " target="_blank">Read</a>
                </div>
            </div>
        </div>
    </div>
</section>