---

---
<section id="experience" class="min-h-screen mt-4">
    <h1 class="text-4xl font-semibold">Experience</h1>
    <div class="container mx-auto flex flex-col items-start md:flex-row my-8">
      <div class="flex-grow sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">Oct, 2020</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Peninsular Research Operation</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Working as a Senior Software Engineer
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">Nov, 2018 <span class="text-gray-200 font-bold">To</span> Oct, 2020</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">ITW Travel & Leisure Pvt.Ltd</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Working as a Senior Software Engineer
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300"> June, 2018 <span class="text-gray-200 font-bold">To</span> Nov, 2018</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Fixel Technologies</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Working as Software Developer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>