---

---
<nav class="flex justify-end gap-4">
    <a class="active" href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
</nav>

<style>
    .active {
        border-bottom: 3px solid #ca8a04;
    }
</style>