---
import ProjectCarousal from "./projects/carousal";
import ContributionCarousal from "./projects/contribution-carousal";
import experienceData from './projects/projects.json';

---
<section id="projects" class="mt-4">
    <h1 class="text-4xl font-semibold mb-8">Projects</h1>
    <ProjectCarousal data={experienceData} client:load />
</section>
