---
import ProjectCarousal from "./projects/carousal";

---
<section id="experience" class="min-h-screen mt-4">
    <h1 class="text-4xl font-semibold">Projects</h1>
    <div >
      <ProjectCarousal client:visible />
    </div>
</section>
