---
import SkillsCol from './skills/SkillsCol.astro';
---
<section id="skills" class="min-h-screen">
    <h1 class="text-4xl font-semibold mb-8">SKILLS</h1>
    <div class="grid grid-cols-3 gap-4">
        <SkillsCol label="Flutter" color="#3fb6d3" percentage="90%">
            <img src="/icons/flutter.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Angular" color="#dd1b16" percentage="90%">
            <img src="/icons/angular.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Node.JS" color="#83cd29" percentage="70%">
            <img src="/icons/nodejs.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="MongoDB" color="#3c8534" percentage="60%">
            <img src="/icons/mongodb.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="MySQL" color="#00618a" percentage="70%">
            <img src="/icons/mysql.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="PostgreSQL" color="#336791" percentage="50%">
            <img src="/icons/postgresql.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="TypeScript" color="#007acc" percentage="90%">
            <img src="/icons/typescript.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="JavaScript" color="#f0db4f" percentage="95%">
            <img src="/icons/javascript.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Saas" color="#cb6699" percentage="90%">
            <img src="/icons/sass.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Dart" color="#22d3c5" percentage="90%">
            <img src="/icons/dart.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="HTML5" color="#f16529" percentage="100%">
            <img src="/icons/html5.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="CSS3" color="#1572b6" percentage="98%">
            <img src="/icons/css3.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Azure" color="#0089d6" percentage="50%">
            <img src="/icons/azure.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Astro" color="#ffffff" percentage="80%">
            <img src="/icons/astro.svg" alt="" srcset="">          
        </SkillsCol>
        <SkillsCol label="Python" color="#ffd847" percentage="30%">
            <img src="/icons/python.svg" alt="" srcset="">          
        </SkillsCol>
    </div>
</section>

<style>
    img {
        width: 3rem;
        height: 3rem;
    }
</style>