---
const {label, title} = Astro.props;
---
<div class="flex gap-2 items-center">
    <div class="flex items-center"><slot/><span class="ml-2 font-bold">{title}</span></div>
    <span>{label}</span>
</div>