---
import Layout from '../layouts/Layout.astro';
import SideBar from '../components/SideBar.astro';
import Main from '../components/Main.astro';
---

<Layout title="Jenish MS | MS Freelance | Jenish">
	<main class="max-w-5xl flex gap-4 p-6 m-auto">
		<SideBar/>
		<Main/>
	</main>
</Layout>

<style>

</style>
