---
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.astro";
import Main from "../components/Main.astro";
---

<Layout title="Jenish MS | Senior Software Engineer | MS Freelance">
  <main class="max-w-7xl w-9/10 flex gap-4 m-auto w-[90%]">
    <Main />
  </main>
</Layout>

<script src="/js/script.js" is:inline defer></script>
<script src="https://unpkg.com/aos@next/dist/aos.js" is:inline></script>
<script is:inline>
  AOS.init();
</script>