---
import ContributionCarousal from "./projects/contribution-carousal";
---

<section id="projects" class="pt-16">
  <h1 class="text-4xl max-md:text-3xl max-sm:text-2xl font-semibold mb-8">Open-Source Contributions</h1>
  <ContributionCarousal client:load />
</section>
