---
import Title from "./common/Title.astro";
---

<section id="contact" class="pt-16">
  <Title label="CONTACT" />
  <div class="grid grid-cols-2 gap-8">
    <div class="flex flex-col gap-4 mt-4 justify-center">
      <p class="text-2xl text-center mb-8">
        I am available for freelance work. Connect with me via and call in to my
        account.
      </p>
      <div class="grid grid-cols-2 px-8 py-4 rounded bg-secondary items-center">
        <div class="font-bold">Email:</div>
        <div>jenishmstephen@gmail.com</div>
      </div>
      <div class="grid grid-cols-2 px-8 py-4 rounded bg-secondary items-center">
        <div class="font-bold">Phone:</div>
        <div>+91 94876 07371</div>
      </div>
    </div>
    <div class="">
      <form action="#">
        <input type="text" name="" placeholder="Name" id="" />
        <input type="email" name="" id="" placeholder="Email" />
        <input type="text" name="" placeholder="Subject" id="" />
        <textarea name="" id="" cols="30" rows="5" placeholder="Message"
        ></textarea>
        <div class="mt-4">
          <button
            class="bg-primary py-2 px-6 hover:bg-transparent hover:text-gray-200 hover:border hover:border-primary rounded"
            >Send</button
          >
        </div>
      </form>
    </div>
  </div>
</section>
<style>
  input,
  textarea {
    margin-top: 1rem !important;
    background-color: #181b20;
    padding: 0.8rem 1.5rem !important;
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    resize: none;
  }
</style>
