---
import ContributionCarousal from "./projects/contribution-carousal";
---

<section id="projects" class="pt-16">
  <h1 class="text-4xl font-semibold mb-8">Open-Source Contributions</h1>
  <ContributionCarousal client:load />
</section>
