---import Title from "./common/Title.astro";

---

<section id="education" class=" pt-16">
  <Title label="EDUCATION" />
  <div class="grid grid-cols-2 mt-16 gap-4 max-sm:grid-cols-1">
    <div  data-aos="fade-right" data-aos-duration="500" class="px-8 py-6 flex flex-col bg-secondary rounded-2xl">
      <p class="text-primary font-semibold">2020 <span class="text-gray-200 mx-1">-</span> 2022</p>
      <div class="font-semibold text-2xl">Master of Computer Application</div>
      <div class="mt-2">Madras University</div>
    </div>
    <div  data-aos="fade-left" data-aos-duration="500" class="px-8 py-6 flex flex-col bg-secondary rounded-2xl">
      <p class="text-primary font-semibold">2015 <span class="text-gray-200 mx-1">-</span> 2018</p>
      <div class="font-semibold text-2xl">Bachelor of Computer Science</div>
      <div class="mt-2">Noorul Islam College of Arts and Science. Kumaracoil.</div>
    </div>
    <div  data-aos="fade-right" data-aos-duration="500" data-aos-delay="100" class="px-8 py-6 flex flex-col bg-secondary rounded-2xl">
      <p class="text-primary font-semibold">2013 <span class="text-gray-200 mx-1">-</span> 2015</p>
      <div class="font-semibold text-2xl">Higher Secondary</div>
      <div class="mt-2">St.Mary Goretty Higher Secondary School. Manalikarai</div>
    </div>
    <div  data-aos="fade-left" data-aos-duration="500" data-aos-delay="100" class="px-8 py-6 flex flex-col bg-secondary rounded-2xl">
      <p class="text-primary font-semibold">2012 <span class="text-gray-200 mx-1">-</span> 2013</p>
      <div class="font-semibold text-2xl">Secondary</div>
      <div class="mt-2">St.Mary Goretty Higher Secondary School. Manalikarai</div>
    </div>
  </div>
  
</section>
