---
import Title from "./common/Title.astro";
---

<section id="experience" class="min-h-screen pt-16">
  <Title label="EXPERIENCE" />
  <div class="container mx-auto flex flex-col items-start md:flex-row my-8 max-md:hidden">
    <div class="flex-grow sticky">
      <div class="container mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-10 h-full">
          <div
            class="border-2-2 border-yellow-555 absolute h-full border"
            style="right: 50%; border: 2px solid #ca8a04; border-radius: 1%;"
          >
          </div>
          <div
            class="border-2-2 border-yellow-555 absolute h-full border"
            style="left: 50%; border: 2px solid #ca8a04; border-radius: 1%;"
          >
          </div>
          <div  data-aos="fade-right" data-aos-duration="500" 
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div class="order-1 w-5/12 px-1 py-4 text-right">
              <p class="mb-3 text-base text-primary">
                Oct, 2020 <span class="text-gray-200 font-bold px-1"> -</span> Present
              </p>
              <h4 class="mb-2 font-bold text-lg md:text-2xl">
                Peninsular Research Operation
              </h4>
              <p class="mb-2 text-base text-primary font-semibold">
                Technical Lead
              </p>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Developed and maintained complex dynamic dashboard web
                application using Angular and cross-platform mobile application
                using Flutter, resulting in consistent user experience across
                iOS and Android platforms. Implemented performance optimization
                techniques, resulting in a 25% descrease in page load time.
                Integrated Azure AdB2C and Auth0 authentications. Collaborated
                with designers and product manager to translate wireframe and
                mockups into full functional and visually apealing app
                intefaces.Implemented responsive and animated UI components
                using Flutter widgets, enhancing user engagement and
                interaction.
              </p>
            </div>
          </div>
          <div  data-aos="fade-left" data-aos-duration="500"
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div class="order-1 w-5/12 px-1 py-4 text-left">
              <p class="mb-3 text-base text-primary">
                Nov, 2018 <span class="text-gray-200 font-bold px-1"> -</span> Oct,
                2020
              </p>
              <h4 class="mb-2 font-bold text-lg md:text-2xl">
                ITW Travel & Leisure Pvt.Ltd
              </h4>
              <p class="mb-2 text-base text-primary font-semibold">
                Software Engineer
              </p>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Developed and maintained complex web application using Angular,
                resulting in improved user experience and increased client
                satisfaction. Implemented and integrated Travel RESTful API to
                fetch update data, ensuring seamless communition between the
                front-end and back-end systems. Work closely with the backend
                development team to identify and resolve issues, resulting in a
                more efficient development process.
              </p>
            </div>
          </div>
          <div data-aos="fade-right" data-aos-duration="500"
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div class="order-1 w-5/12 px-1 py-4 text-right">
              <p class="mb-3 text-base text-primary">
                June, 2018 <span class="text-gray-200 font-bold px-1">-</span> Nov,
                2018
              </p>
              <h4 class="mb-2 font-bold text-lg md:text-2xl">
                Fixel Technologies
              </h4>
              <p class="mb-2 text-base text-primary font-semibold">
                Software Developer
              </p>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Devlop the web application using Angular, PHP Codeigniter.
                Implemented and integrated payment gateways and fully functional
                and responsive web interfaces.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show -->
  <div class="flex flex-col gap-4 md:hidden">
    <div  data-aos="fade-right" data-aos-duration="500" class="bg-secondary p-4 rounded-lg">
      <p class="mb-2 text-base text-primary">
                Oct, 2020 <span class="text-gray-200 font-bold px-1"> -</span> Present
              </p>
              <h4 class="mb-2 font-bold text-lg md:text-2xl">
                Peninsular Research Operation
              </h4>
              <p class="mb-2 text-base text-primary font-semibold">
                Software Engineer
              </p>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Developed and maintained complex dynamic dashboard web
                application using Angular and cross-platform mobile application
                using Flutter, resulting in consistent user experience across
                iOS and Android platforms. Implemented performance optimization
                techniques, resulting in a 25% descrease in page load time.
                Integrated Azure AdB2C and Auth0 authentications. Collaborated
                with designers and product manager to translate wireframe and
                mockups into full functional and visually apealing app
                intefaces.Implemented responsive and animated UI components
                using Flutter widgets, enhancing user engagement and
                interaction.
              </p>
    </div>
    <div  data-aos="fade-right" data-aos-duration="500" data-aos-delay="200" class="bg-secondary p-4 rounded-lg">
      <p class="mb-2 text-base text-primary">
                Nov, 2018 <span class="text-gray-200 font-bold px-1"> -</span> Oct,
                2020
              </p>
              <h4 class="mb-2 font-bold text-lg md:text-2xl">
                ITW Travel & Leisure Pvt.Ltd
              </h4>
              <p class="mb-2 text-base text-primary font-semibold">
                Software Engineer
              </p>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Developed and maintained complex web application using Angular,
                resulting in improved user experience and increased client
                satisfaction. Implemented and integrated Travel RESTful API to
                fetch update data, ensuring seamless communition between the
                front-end and back-end systems. Work closely with the backend
                development team to identify and resolve issues, resulting in a
                more efficient development process.
              </p>
    </div>
    <div  data-aos="fade-right" data-aos-duration="500" data-aos-delay="300" class="bg-secondary p-4 rounded-lg">
      <p class="mb-3 text-base text-primary">
                June, 2018 <span class="text-gray-200 font-bold px-1">-</span> Nov,
                2018
              </p>
              <h4 class="mb-2 font-bold text-lg md:text-2xl">
                Fixel Technologies
              </h4>
              <p class="mb-2 text-base text-primary font-semibold">
                Software Developer
              </p>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Devlop the web application using Angular, PHP Codeigniter.
                Implemented and integrated payment gateways and fully functional
                and responsive web interfaces.
              </p>
    </div>
  </div>
</section>
