---
---

<nav class="flex justify-end gap-4 py-4 z-10 sticky top-0 bg-[#121519]">
  <a id="menu-about" class="h-menu active" href="#about">About</a>
  <a id="menu-skills" class="h-menu" href="#skills">Skills</a>
  <a id="menu-experience" class="h-menu" href="#experience">Experience</a>
  <a id="menu-education" class="h-menu" href="#education">Education</a>
  <a id="menu-projects" class="h-menu" href="#projects">Projects</a>
  <a id="menu-contact" class="h-menu" href="#contact">Contact</a>
</nav>

<style>
  .active {
    border-bottom: 3px solid #ca8a04;
  }
</style>

