---
import About from "./About.astro";
import Skills from "./Skills.astro";
import Experience from "./Experience.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Projects from "./Projects.astro";
import Contributions from "./Contributions.astro";
import Blogs from "./Blogs.astro";
import Contact from "./Contact.astro";
import Landing from "./Landing.astro";
---

<div class="flex-grow px-4 overflow-x-clip">
  <Header />
  <Landing />
  <About />
  <Skills />
  <Experience />
  <!-- <Education/> -->
  <Projects />
  <Contributions />
  <Blogs />
  <Contact />
  <Footer />
</div>
