---
import { Icon } from 'astro-icon'

import About from "./About.astro";
import Skills from "./Skills.astro";
import Experience from "./Experience.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Projects from "./Projects.astro";
import Contributions from "./Contributions.astro";
import Blogs from "./Blogs.astro";
import Contact from "./Contact.astro";
import Landing from "./Landing.astro";
import Education from './Education.astro';
---

<div class="flex-grow px-4 overflow-x-clip main-container">
  <Header />
  <Landing />
  <About />
  <Skills />
  <Experience />
  <Education/>
  <Projects />
  <Contributions />
  <Blogs />
  <Contact />
  <button
    class="scroll-to-top-button fixed max-sm:bottom-8 bottom-6 right-6 bg-primary text-gray-200 w-12 h-12 max-sm:w-10 max-sm:h-10 rounded z-10"
    onclick="scrollToTop()"><Icon name="ic:round-arrow-upward" /></button
  >
</div>

