---
import Header from "./main/Header.astro";
import Footer from "./main/Footer.astro"
import Projects from "./main/Projects.astro";
---

<div class="flex-grow px-4">
    <Header/>
    <!-- <About/> 
    <Skills/> -->
    <!-- <Experience/> -->
    <!-- <Education/> -->
    <Projects />
    <Footer/>
</div>
