---
import ProfileDetails from "./sidebar/ProfileDetails.astro";
---
<div class="w-3/12 flex-col gap-4">
    <ProfileDetails/>
</div>

<style>
    div {
        background-color: #181b20;
        padding: 1rem;
        border-radius: 1rem;
    }
</style>