---
import ProfileDetailsRow from './ProfileDetailsRow.astro'; 
---
<div>
    <img src="https://avatars.githubusercontent.com/u/67511470?s=800&u=5ed093cbf325afcb147aefae386a4567eb62a602&v=4" class="avatar-img h-auto w-full" />
    <h2>Jenish MS</h2>
    <p class="text-gray-300">Senior Software Engineer</p>
    <ProfileDetailsRow label="Chennai, India">
        <svg fill="none" class="w-6 h-6" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
        </svg>
    </ProfileDetailsRow>
</div>
<style>
    img {
        border-radius: 50%;
    }
    h2 {
        font-size: 28px !important;
        font-weight: 500 !important;
    }
</style>