---
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Jenish MS" />

		<title>{title}</title>

		<meta
			name="title"
			content="Jenish MS | Senior Software Engineer | MS Freelancer"
		/>
		<meta
			name="description"
			content="As an Energetic Software Engineer with over 6+ years of experience, I specialize in App development and Full-Stack development. I possess a tenacious attitude, continuously seeking opportunities for personal growth and skill enhancement to consistently evolve and excel in my craft. Additionally, I actively contribute to Open-Source projects, aiming to foster collaborative innovation within the software development community."
		/>
		<meta
			name="keywords"
			content="Jenish MS | Senior Software Engineer | MS Freelancer"
		/>
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.jenishms.in/" />
		<meta
			property="og:title"
			content="Jenish MS | Senior Software Engineer | Jenish MS Freelancer"
		/>
		<meta
			property="og:description"
			content="As an Energetic Software Engineer with over 6+ years of experience, I specialize in App development and Full-Stack development. I possess a tenacious attitude, continuously seeking opportunities for personal growth and skill enhancement to consistently evolve and excel in my craft. Additionally, I actively contribute to Open-Source projects, aiming to foster collaborative innovation within the software development community."
		/>
		<meta
			property="og:image"
			content="https://www.jenishms.in/images/Jenish MS.jpg"
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.jenishms.in/" />
		<meta
			property="twitter:title"
			content="Jenish MS | Senior Software Engineer | MS Freelancer"
		/>
		<meta
			property="twitter:description"
			content="As an Energetic Software Engineer with over 6+ years of experience, I specialize in App development and Full-Stack development. I possess a tenacious attitude, continuously seeking opportunities for personal growth and skill enhancement to consistently evolve and excel in my craft. Additionally, I actively contribute to Open-Source projects, aiming to foster collaborative innovation within the software development community."
		/>
		<meta
			property="twitter:image"
			content="https://www.jenishms.in/images/Jenish MS.jpg"
		/>

		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-126730401-1"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "UA-126730401-1");
		</script>
		<script
			is:inline
			data-ad-client="ca-pub-9793838838410328"
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
		></script>

		<script type="text/javascript">
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = "https://www.clarity.ms/tag/" + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "ncyy8qyq2m");
		</script>
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "Person",
			"name": "Jenish MS",
			"alternateName": "Jenish M S",
			"url": "https://www.jenishms.in",
			"image": "https://www.jenishms.in/Jenish%20MS.png",
			"jobTitle": "Senior Software Engineer",
			"worksFor": {
				"@type": "Organization",
				"name": "Peninsular Research Operation"
			},
			"sameAs": [
				"https://www.linkedin.com/in/jenishms",
				"https://github.com/JenishMS",
				"https://x.com/JenishMS7",
				"https://jenishms.medium.com"
			],
			"description": "As an Energetic Software Engineer with over 6+ years of experience, I specialize in App development and Full-Stack development. I possess a tenacious attitude, continuously seeking opportunities for personal growth and skill enhancement to consistently evolve and excel in my craft. Additionally, I actively contribute to Open-Source projects, aiming to foster collaborative innovation within the software development community."
			}
		</script>
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "Jenish MS",
			"url": "https://www.jenishms.in"
			}
		</script>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body {
		background-color: #121519;
		margin: unset;
		min-height: 100vh;
		color: #f6f6f6;
	}
</style>
